.vscode/**
.claude/**
.github/**
src/**
test/**
example/**
node_modules/**
.gitignore
.gitattributes
.env
tsconfig.json
tsconfig.tsbuildinfo
esbuild.js
**/*.ts
**/*.map
*.md
!README.md
!CHANGELOG.md
yarn.lock
.eslintrc.json
